

h4 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100
    
}


.time {
    background-color:;
    float:;
    display: flex;
    justify-content: center;
}

#main {
    background-color: aqua;
    float:right;
}


#container {
    text-align: center;
}


.blank {
    display: none;
}

.initial {
    display: none;
}

button 
{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;

}


